$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$blue:    #033c73 !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #c71c22 !default;
$orange:  #fd7e14 !default;
$yellow:  #dd5600 !default;
$green:   #73a839 !default;
$teal:    #20c997 !default;
$cyan:    #2fa4e7 !default;

$primary:       $cyan !default;
$secondary:     $gray-200 !default;
$success:       $green !default;
$info:          $blue !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;

@import "~bootswatch/dist/cerulean/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/cerulean/bootswatch";

.background {

}



// cerulean
.friend-wrapper {
width: 100%;
height: 100%;
overflow: hidden;
}

.friends-vertical {
min-height: 50vh;
}

.login {
max-width: 600px;
margin:auto
}

.hidden {
  visibility: hidden;
}
.loading {
  height: 400px;
}

.fa-icon {
  transform: translateY(10%);
}

.fa-back {
  transform: translateY(5%);
}

.chat-input {
  position: relative;
}

.emoji-picker {
  position: absolute;
  top: -350px;
  
  right: 0;
 
}
.picker-size {
  position: absolute;
  top: -350px;
  right: 0;
  width: 85vw;
}

.info-box {
  height: 350px;
}

.friend-container {
  height: 63vh
}


.friend-option {
  transform: translateY(2%);
}

.friend-option:hover {
  cursor: pointer;
  opacity: 0.5;
  

  transition: opacity 2s;
  
}
.scroll-item {
  height: 40vh
}


@media screen and ( min-height: 400px ) {
.friend-container {
  height: 63vh
}
.scroll-item {
  height: 40vh
}
}
// @media screen and ( min-height: 500px ) {
// .friend-container {
//   height: 74vh
// }
// .scroll-item {
//   height: 52vh
// }
// }

// @media screen and ( min-height: 600px ) {
// .friend-container {
//  height: 79vh
// }
// .scroll-item {
//   height: 60vh
// }
// }
// @media screen and ( min-height: 700px ) {
// .friend-container {
//   height: 81vh
// }
// .scroll-item {
//   height: 63vh
// }
// }
// @media screen and ( min-height: 800px ) {
// .friend-container {
//   height: 83vh
// }
// .scroll-item {
//   height: 68vh
// }
// }
// @media screen and ( min-height: 1000px ) {
// .friend-container {
//   height: 87vh
// }
// .scroll-item {
//   height: 74vh
// }
// }

// @media screen and ( min-height: 1500px ) {
// .friend-container {
//   height: 90vh
// }
// .scroll-item {
//   height: 82vh
// }

}
.friend-child {
width: 100%;
  height: 100%;
  overflow-y: scroll;
  
  
  
}

.scroll-item {
overflow-y: scroll;

// height: 50vh;
}

.big-margin {
margin-bottom: 20px;
}


.common-room :hover {
background-color: #2fa4e7;
color: #f8f9fa;
cursor: pointer;
}



.inbound-msg {
background-color: $light;
padding-left: 20px;
padding-right: 20px;
padding-top: 5px;
padding-bottom: 5px;
border-radius: 25px;
max-width: 70%;
color: $dark

}

.input-box {


}
.outbound-msg {
background-color: $cyan;
color:white;
padding-left: 20px;
padding-right: 20px;
padding-top: 5px;
padding-bottom: 5px;
border-radius: 25px;
max-width: 70%;

}
.timestamp {
font-size:small;
font-style: italic;
}

/* width */
::-webkit-scrollbar {
width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
background: $light;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: $gray-600;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: $gray-600;
}

