

$blue: #0d6efd;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #d63384;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #198754;
$teal: #20c997;
$cyan: #0dcaf0;
$black: #000;
$white: #fff;
$gray: #6c757d;
$gray-dark: #343a40;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$primary: #0d6efd;
$secondary: #6c757d;
$success: #198754;
$info: #0dcaf0;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #212529;
$bs-body-bg: #212529;

@import "~bootswatch/dist/vapor/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/vapor/bootswatch";

.background {

}



// cerulean
.friend-wrapper {
width: 100%;
height: 100%;
overflow: hidden;
}

.friends-vertical {
min-height: 50vh;
}

.login {
max-width: 600px;
margin:auto
}

.hidden {
  visibility: hidden;
}
.loading {
  height: 400px;
}


.scroll-item {

border-radius: 14px;
}

.friend-container {
  height: 63vh
}
.scroll-item {
  height: 40vh
}


@media screen and ( min-height: 400px ) {
.friend-container {
  height: 63vh
}
.scroll-item {
  height: 40vh
}
}
@media screen and ( min-height: 500px ) {
.friend-container {
  height: 74vh
}
.scroll-item {
  height: 52vh
}
}

@media screen and ( min-height: 600px ) {
.friend-container {
 height: 79vh
}
.scroll-item {
  height: 60vh
}
}
@media screen and ( min-height: 700px ) {
.friend-container {
  height: 81vh
}
.scroll-item {
  height: 63vh
}
}
@media screen and ( min-height: 800px ) {
.friend-container {
  height: 83vh
}
.scroll-item {
  height: 68vh
}
}
@media screen and ( min-height: 1000px ) {
.friend-container {
  height: 87vh
}
.scroll-item {
  height: 74vh
}
}

@media screen and ( min-height: 1500px ) {
.friend-container {
  height: 90vh
}
.scroll-item {
  height: 82vh
}

}
.friend-child {
width: 100%;
  height: 100%;
  overflow-y: scroll;
  
  
  
}

.scroll-item {
overflow-y: scroll;

// height: 50vh;
}

.big-margin {
margin-bottom: 20px;
}


.common-room :hover {
background-color: #2fa4e7;
color: #f8f9fa;
cursor: pointer;
}



.inbound-msg {
background-color: $light;
padding-left: 20px;
padding-right: 20px;
padding-top: 5px;
padding-bottom: 5px;
border-radius: 25px;
max-width: 70%;
color: $dark

}

.input-box {


}
.outbound-msg {
background-color: #8A6CA6;
color:white;
padding-left: 20px;
padding-right: 20px;
padding-top: 5px;
padding-bottom: 5px;
border-radius: 25px;
max-width: 70%;

}
.timestamp {
font-size:small;
font-style: italic;
}

/* width */
::-webkit-scrollbar {
width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
background: $light;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: $dark
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: $dark ;
}

